body {
  background-color: #f2e4f4;
}
body h1 {
  text-align: center;
  margin-bottom: 7%;
}
body #out-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body #out-container #englishToMorse {
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  padding: 0px;
}
body #out-container input {
  margin-bottom: 5%;
  width: 80%;
  padding: 15px 10px;
  line-height: 140%;
}
body #out-container button {
  width: 100px;
  height: 40px;
  margin-bottom: 5%;
}
body #out-container #morseToEnglish {
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}