 @import './typography.scss';
 .btn {
          width:150px;
            height: 40px;
            margin-bottom: 5%;
            background-color: #e8eaf6;
            border-color: #c5cae9;
            font-family: $font-primary;
            font-size: $font-size-small;
        }

