body {
  font-family: "Arimo", sans-serif;
}
body h1 {
  font-size: 36px;
}
body h3 {
  font-size: 28px;
}

body {
  background-color: #f2e4f4;
}
body h1 {
  text-align: center;
  margin-bottom: 7%;
}
body #out-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body #out-container #englishToMorse {
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  padding: 0px;
  border-radius: 10px;
}
body #out-container input {
  margin-bottom: 5%;
  width: 80%;
  padding: 15px 10px;
  line-height: 140%;
}
body #out-container #morseToEnglish {
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

body {
  font-family: "Arimo", sans-serif;
}
body h1 {
  font-size: 36px;
}
body h3 {
  font-size: 28px;
}

.btn {
  width: 150px;
  height: 40px;
  margin-bottom: 5%;
  background-color: #e8eaf6;
  border-color: #c5cae9;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
}